<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express App - Homepage</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <!-- href needs to sync with the routes  -->
      <a href="/contact">Contact</a>
    </nav>

    <h1>Welcome to our amazing restaurant!!!</h1>

    <img alt="bottle of wine" src="/images/wine-transparent.png" />
  </body>
</html>
